{% extends 'userApp/header.html' %}
{% block title %}Update Form {%endblock title%}
{% block content %}

<div class="row justify-content-center">
	<div class="col-sm-5">
		<div class="card">
		<div class="card-header">Profile Form</div>
		<div class="card-body">
			<form method="POST" action="{% url 'profile' data.id %}" enctype="multipart/form-data">
				{% csrf_token %}
				
				{{ form.as_p}}
				<button class="btn btn-info" type="submit">update</button>
			</form>
		</div>
	</div>
	</div>
</div>
{%endblock content %}